@import url(https://fonts.googleapis.com/css?family=Lato:300,400,700);
  @import url(http://weloveiconfonts.com/api/?family=entypo);
  
  /* entypo */
  [class*="entypo-"]:before {
    font-family: 'entypo', sans-serif;
  }
  
  /* Variables */
  :root {
    --primary-text-color: #000;
    --secondary-text-color: #A1A1A4;
    --theme-color: #8DC63F; 
  }
  
  /* General styles */
  * {
    box-sizing: border-box;
  }
  
  /* body {
    background: #f5f5f5;
    max-width: 1200px;s
    margin: 0 auto;
    padding: 10px;
    
    font-family: 'Lato', sans-serif;
    text-shadow: 0 0 1px rgba(255,255,255,0.004);
    font-size: 100%;
    font-weight: 400;
  } */
  
  /* Toggler styles */
  .toggler {
    color: var(--secondary-text-color);
    font-size: 1.25em;
    margin-left: 8px;
    text-align: center;
    cursor: pointer;
  }
  
  .toggler.active {
    color: var(--primary-text-color);
  }
  
  /* Surveys styles */
  .surveys {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  /* Card styles */
  .card-style {
    display: block;
    margin-top: 10px;
    padding: 20px;
    border-radius: 2px;
    background: white;
    box-shadow: 0 2px 1px rgba(170,170,170,0.25);  
  }
  
  .survey-item {
    /* @extend .card-style; */
    margin-bottom: 10px;
    background-color: #1E2D3B;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.9);
    transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.survey-item:hover {
  transform: translateY(-5px) scale(1.05); /* Shift the element up slightly and zoom in on hover */
}
  /* List styles */
  .list .survey-item {
    position: relative;
    padding: 0;
    font-size: 25px;
    letter-spacing: 10px;
    line-height: 40px;
  }
  
  .list .survey-item .pull-right {
    position: absolute;
    right: 0;
    top: 0;
  }
  
  .list .survey-item .stage:not(.active) {
    display: none;
  }
  
  .list .survey-item .survey-progress-bg {
    display: none;
  }
  
  .list .survey-item .pull-right {
    position: static;
    line-height: 20px;
    padding-bottom: 10px;
  }
  
  .list .survey-item .survey-country,
  .list .survey-item .survey-progress,
  .list .survey-item .survey-completes,
  .list .survey-item .survey-end-date {
    color: var(--secondary-text-color);
  }
  
  .list .survey-item .survey-country,
  .list .survey-item .survey-completes,
  .list .survey-item .survey-end-date,
  .list .survey-item .survey-name,
  .list .survey-item .survey-stage {
    margin: 0 10px;
  }
  
  .list .survey-item .survey-country {
    margin-right: 0;
  }
  
  .list .survey-item .survey-end-date {
    display: inline-block;
    width: 100px;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .list .survey-stage .stage {
    display: inline-block;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    overflow: hidden;
    border-radius: 50%;
    padding: 0;
    margin: 0 2px;
    background: #f2f2f2;
    text-indent: -9999px;
    color: transparent;
    line-height: 16px;
  }
  
  .list .survey-stage .stage.active {
    background: var(--secondary-text-color);
  }
  
  /* Grid styles */
  .grid .survey-item {
    position: relative;
    display: inline-block;
    vertical-align: top;
    height: 200px;
    width: 250px;
    margin: 10px;
  }
  
  .grid .survey-item .survey-name {
    display: block;
    max-width: 80%;
    font-size: 16px;
    line-height: 20px;
  }
  
  .grid .survey-item .survey-country {
    font-size: 11px;
    line-height: 16px;
    text-transform: uppercase;
  }
  
  .grid .survey-item .survey-end-date:before {
    content: 'Ends\00a0';
  }
  
  .grid .survey-item .survey-end-date.ended:before {
    content: 'Ended\00a0';
  }
  
  .grid .survey-item .survey-progress {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 20px;
    border-top: 1px solid #eee;
    font-size: 13px;
  }
  
  .grid .survey-item .survey-progress-bg {
    width: 40%;
    display: block;
  }
  
  .grid .survey-item .survey-progress-labels {
    position: absolute;
    right: 20px;
    top: 0;
    line-height: 40px;
  }
  
  .grid .survey-item .survey-progress-label {
    line-height: 21px;
    font-size: 13px;
    font-weight: 400;
  }
  
  .grid .survey-item .survey-completes {
    line-height: 21px;
    font-size: 13px;
    vertical-align: middle;
  }
  
  .grid .survey-item .survey-end-date {
    font-size: 12px;
    line-height: 20px;
  }
  
  .survey-progress-label {
    vertical-align: middle;
    margin: 0 10px;
    color: var(--theme-color);
  }
  
  .survey-progress-bg {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 100px;
    height: 4px;
    border-radius: 2px;
    overflow: hidden;
    background: #eee;
  }
  
  .survey-progress-fg {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    margin: 0;
    background: var(--theme-color);
  }